[user]
	name = Adam Sapek
	email = github@work.sapek.com

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = git_diff_tool $LOCAL $REMOTE

[difftool]
    prompt = false

[github]
	user = sapek

[color "branch"]
    current = yellow
    local = yellow dim
    remote = green dim

[color "diff"]
    meta = yellow bold
    frag = magenta
    old = red dim
    new = green bold

[color "status"]
    added = green bold
    changed = red dim
    untracked = yellow bold

[alias]
	diffall = difftool --extcmd=odd.exe --dir-diff
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
	autocrlf = true
[credential]
	helper = manager

[merge]
    tool = bc3

[mergetool "bc3"]
    path = c:/Program Files/Beyond Compare 4/bcomp.exe
