[user]
	name = Adam Sapek
	email = github@work.sapek.com

[diff]
    tool = default-difftool
 
[difftool "default-difftool"]
    cmd = git_diff_tool $LOCAL $REMOTE

[difftool]
    prompt = false    

[github]
	user = sapek

[color "status"]
    changed = 1
    untracked = 3
    branch = 6

[alias]
	diffall = difftool --extcmd=odd.exe --dir-diff
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
	autocrlf = true
[credential]
	helper = manager
