MicrosoftEdgeBackups/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
_viminfo
ntuser.*
vimfiles
vimfiles/
.ssh
.vim-fuf-data
*.swp
.netrwhist
.chef
nodes
.gem
.config
.vim/sessions/
.viminfo
.dotnet/
.nuget/
CMakeBuilds/
IntelGraphicsProfiles/
quartus2.ini
quartus2.qreg
source/

